# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.o
*.a

# Go build cache & dependencies
bin/
pkg/
vendor/

# VCS & CI
.git
.gitignore
.gitattributes
.github/
.gitlab/
.gitlab-ci.yml
.circleci/

# Editor & OS files
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.log

# Docker-related
Dockerfile*
docker-compose.yml
.dockerignore

# Test coverage
coverage.*
*.coverprofile

# Testdata
testdata/

# Project related
LICENSE
Makefile
README.md
test-task.md
